@use "base/variables";
@use "base/global";

@use "components/navbar";
@use "components/buttons";
@use "components/footer";

.portafolio {
  background: variables.$color-fondo-claro;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: variables.$color-primario;
  }
}

.proyecto {
  background: variables.$color-fondo-blanco;
  border-radius: 10px;
  box-shadow: variables.$sombra-suave;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 0 35px 60px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 80%;
    border-radius: 10px;
    margin-top: 15px;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }

  h2 {
    font-size: 1.5rem;
    color: variables.$color-texto-oscuro;
    margin-bottom: 15px;
  }

  p {
    font-size: 1rem;
    color: variables.$color-texto-gris;
  }
}

.links-proyecto {
  display: flex;
  justify-content: space-around;
}

.testimonios {
  background: variables.$color-fondo-blanco;
  text-align: center;

  h1 {
    font-size: 2.5rem;
    color: variables.$color-primario;
  }
}

.testimonio {
  background: variables.$color-fondo-claro;
  border-radius: 10px;
  box-shadow: variables.$sombra-suave;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: variables.$sombra-fuerte;
  }

  img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }

  h3 {
    font-size: 1.2rem;
    color: variables.$color-texto-oscuro;
  }

  p {
    font-size: 1rem;
    color: variables.$color-texto-gris;
  }
}

.estrellas i {
  font-size: 1.2rem;
  color: variables.$color-acento;
}

// Media Queries
@media (max-width: 1024px) {
  .portafolio h1,
  .testimonios h1 {
    font-size: 2rem;
  }

  .proyecto h2,
  .testimonio h3 {
    font-size: 1.3rem;
  }

  .proyecto p,
  .testimonio p {
    font-size: 0.9rem;
  }

  .testimonio img {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 768px) {
  .portafolio h1,
  .testimonios h1 {
    font-size: 1.8rem;
  }

  .proyecto h2,
  .testimonio h3 {
    font-size: 1.2rem;
  }

  .proyecto p,
  .testimonio p {
    font-size: 0.8rem;
  }

  .testimonio img {
    width: 100px;
    height: 100px;
  }

  .links-proyecto {
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .portafolio h1,
  .testimonios h1 {
    font-size: 1.5rem;
  }

  .proyecto h2,
  .testimonio h3 {
    font-size: 1rem;
  }

  .proyecto p,
  .testimonio p {
    font-size: 0.7rem;
  }

  .testimonio img {
    width: 80px;
    height: 80px;
  }
}
