@use "base/variables";
@use "base/global";

@use "components/navbar";
@use "components/buttons";
@use "components/footer";

.servicios {
  padding: 2rem 0;

  h1 {
    font-weight: 600;
    margin-bottom: 2rem;
  }
}

.service-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 2rem;
  border: none;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: variables.$sombra-suave;

  &:hover {
    transform: translateY(-10px);
    box-shadow: variables.$sombra-media;
  }

  @media (max-width: 767.98px) {
    text-align: center;
  }
}

.card-body {
  color: variables.$color-texto-oscuro;

  img {
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
    }
  }
}

.service-icon i {
  font-size: 3rem;
  color: variables.$color-primario;
}

.service-icons {
  i {
    font-size: 1.5rem;
    color: variables.$color-primario;
    margin-right: 10px;
    transition: color 0.3s ease;

    &:hover {
      color: variables.$color-acento;
    }
  }

  @media (max-width: 767.98px) {
    justify-content: center;
    display: flex;
  }
}

.card-title {
  font-size: 1.5rem;
  color: variables.$color-texto-oscuro;
  margin-bottom: 1rem;
}
